@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="bd">

    <div class="container-fluid">

        <div class="row">
            <center>
                <div class="col">
                    <h1><p>About Us</p></h1>

                </div>
            </center>

        </div>
    </div>

</div>

<div class="container img3">

    <div class="row">
        <div class="col-md-6">
            <h1>Who Wants To Donate</h1>
            <p>
                " We know fundraising isn’t easy, especially when you’re just starting out.

                Sandy started Get Fully Funded in 2005 because she hated seeing really good causes struggle to raise the money they need.

                She knew there’s an easier way because she’d done it, growing the revenue at a small food bank from $150,000 per year to over $1,000,000 in less than 5 years. She also helped stabilize revenue for a brand new after-school music program, doubling the donor base and creating a monthly giving program in a little less than a year.

                Sandy took everything she learned the hard way and distilled it into simple, easy-to-learn nuggets that she and her team deliver through a variety of services and programs.

                Everything you’ll learn is practical and easy to use. There’s no guesswork or theory here – only proven tactics that get results
            </p>


        </div>
        <div class="col-md-6">
            
            <img src="~/images/feature1.jpg" class="img-responsive" />
        </div>

    </div>

</div>


<div class="container img4">
    <hr />
    <div class="row">

        <div class="col-md-6">
            
            <img src="~/images/feature2.jpg" class="img-responsive" style="width:500px;height:440px;"  />
        </div>

        <div class="col-md-6">

            <h2> To Get Donation</h2>
            <p>Our usability tests of nonprofit and charity websites show that people have high expectations of nonprofit and charity websites — which some sites don’t meet. Users have specific questions, and if sites do not address these questions, they have little desire or motivation to find the answers. Once users decide to donate, a clear call to action and a simplified donation process keeps them on the right track.</p>


            <p>
                Our studies tell us that the most important pieces of information that people need to know about a charity or nonprofit before they make a donation are the type of work that the organization does and how that work is done.
                Websites that provided this information in a clear, concise, and easy-to-understand manner had an advantage over those that had ambiguous goals and objectives. The organizations that received donations simply described what they did and how they did it in a succinct and easy to understand manner. This information was enough to convince people—if they agreed with their mission—to make a donation
            </p>
        </div>

    </div>
</div>

<div class="container img5">
    <hr />
    <div class="row">
        <div class="col-md-6">

            <h2>Become A Supporter</h2>
            <p>
                The problem that many organizations are facing these days is that people are leading much busier lives than they ever used to, so capturing their attention and keeping it is more difficult than ever.
                To help you grab the attention of today's donors and keep it, here is a list of 18 ways the most successful organizations are doing it.
            </p>


            <p>
                And once you've decided to add fundraising software to your toolkit, be sure to check out our top picks for nonprofit software tools to help you choose the best one for your organization. Pay attention to which features your fundraising solution may be missing. Every organization has different needs, so remember: no solution is one-size-fits-all.

                Best of luck with raising funds!.
            </p>
        </div>
        <div class="col-md-6">
            
            <img src="~/images/feature3.jpg" class="img-responsive" style="width:550px;height:300px;" />
        </div>

    </div>
</div>







