
@{
    ViewBag.Title = "Impact";
}

<div class="bd">

    <div class="container-fluid">


    </div>

</div>

<div class="container img3">

    <div class="row">
        <div class="col-md-6">
            <h1> Education:</h1>
            <p>

                In education this website is most helpful towards students. If a student doesn’t have money for his education  , he will get help from this website.
                Till today this website help almost 200 students for their education. Specially For girls education this website help almost 70 students. In poor countries like South Sudan, Mali, This website can help for education.



            </p>


        </div>
        <div class="col-md-6">

            <img src="~/images/feature1.jpg" class="img-responsive" />
        </div>

    </div>

</div>


<div class="container img4">
    <hr />
    <div class="row">

        <div class="col-md-6">

            <img src="~/images/feature2.jpg" class="img-responsive" style="width:500px;height:440px;" />
        </div>

        <div class="col-md-6">

            <h2> Small business:</h2>


            <p>

                Someone wants to start their small business to bare his livelihood, he can get help from his website. Till date 50 people get help from this website.

            </p>

        </div>

    </div>
</div>

<div class="container img5">
    <hr />
    <div class="row">
        <div class="col-md-6">

            <h2> Healthcare:</h2>


            <p>

                A patient can get help from this website. This website can help poor patients who don’t have the ability to bare their medical expenses . Till date this website help 500patients.

            </p>
        </div>
        <div class="col-md-6">

            <img src="~/images/feature3.jpg" class="img-responsive" style="width:550px;height:300px;" />
        </div>

    </div>
</div>


<div class="row">
    <div class="col-md-6">

        <h2> Natural disaster:</h2>


        <p>


            A natural disaster is a major adverse event resulting from natural processes of the Earth; examples are floods, hurricanes, tornadoes, volcanic eruptions, earthquakes, tsunamis, storms, and other geologic processes.
            In recent disasters this website helps almost 500 families to get rid of their miserable condition.



        </p>
    </div>
    <div class="col-md-6">

        <img src="~/images/feature3.jpg" class="img-responsive" style="width:550px;height:300px;" />
    </div>

</div>
<div class="row">
    <div class="col-md-6">

        <h2>  Homeless Children:</h2>


        <p>



            It is impossible to calculate exactly how many homeless children there are in total but Bangladesh Institute of Development Studies said that an estimated 3,80,000 homeless children live in Bangladesh . Through this website almost 1000 homeless children got help.



        </p>
    </div>
    <div class="col-md-6">

        <img src="~/images/feature3.jpg" class="img-responsive" style="width:550px;height:300px;" />
    </div>

</div>

<div class="row">
    <div class="col-md-6">

        <h2> Social Awareness:</h2>


        <p>



            This website is helpful to social awareness projects.Till date this website help 10 social awareness projects.





        </p>
    </div>
    <div class="col-md-6">

        <img src="~/images/feature3.jpg" class="img-responsive" style="width:550px;height:300px;" />
    </div>

</div>

<div class="row">
    <div class="col-md-6">

        <h2> Pandemic Situation:</h2>


        <p>


            
            In 2020 , the world see COVID-19 virus. Due to this virus many people died and continue dying. Till date many people lost their livelihood and can’t have the money to get treatment. In this miserable situation this website can help people.




        </p>
    </div>
    <div class="col-md-6">

        <img src="~/images/feature3.jpg" class="img-responsive" style="width:550px;height:300px;" />
    </div>

</div>






